* {
  font-family: "Nunito", "Montserrat Alternates", sans-serif;
  color: rgb(92, 141, 137);
}
html,
body {
  background-color: rgb(244, 249, 244);
  width: 90%;
  margin: auto;
}

nav {
  background-color: rgb(244, 249, 244) !important;
}

.nav-link {
  color: rgb(92, 141, 137) !important;
}
.navbar-nav {
  margin-left: 25%;
}
.social-media {
  margin-left: 130%;
}
.margin {
  margin-top: 15%;
  margin-bottom: 15%;
}

a {
  color: rgb(92, 141, 137);
  text-decoration: none;
}

h1 {
  font-size: 22;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.a-button {
  padding: 5px 10px;
  background-color: rgb(167, 215, 197);
  border: none;
  max-width: 100px;
}

.contact-button {
  margin-left: 40%;
  margin-top: 25px;
}

.visit-website {
  margin-top: 30px;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 40px solid rgb(92, 141, 137);
  margin: auto;
  position: relative;
  top: -50px;
  animation-name: cursor;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cursor {
  0% {
    top: -55px;
  }
  100% {
    top: -48px;
  }
}

.ramka {
  margin: auto;
  display: block;
  height: 70px;
  width: 40px;

  border: rgb(92, 141, 137) solid 4px;
  border-radius: 16px;
}

h2 {
  font-size: 22;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}
p {
  color: rgb(116, 180, 155);
  font-size: 20px;
}
button {
  margin-left: 40%;
  margin-top: 25px;
  padding: 5px 10px;
  background-color: rgb(167, 215, 197);
  border: none;
  max-width: 100px;
}

.content {
  display: block;
}
.art {
  display: block;
}
.my-work {
  max-width: 300px;
  margin-top: 50px;
}

.work-description {
  text-align: center;
}

form,
.contact-info {
  position: relative;
  top: 30%;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

textarea,
input {
  background: rgb(167, 215, 197, 0.3);
  outline: none;
  border: none;
  margin-bottom: 7px;
  resize: none;
}

.footer {
  font-size: 15px;
  text-align: center;
}
