html {
  --iwidth: 25vw;
}

* {
  font-family: "Nunito", "Montserrat Alternates", sans-serif;
  color: rgb(92, 141, 137);
}
html,
body {
  background-color: rgb(244, 249, 244);
  width: 90%;
  margin: auto;
}

img:not(.navbar-brand) {
  max-width: 100%;
  height: auto;
}

.frog-big {
  display: block;
  margin: auto;
  padding-left: 5%;
}

.top-nav {
  background-color: rgba(234, 255, 234, 0.1);
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 100;
}

.nav-link {
  color: rgb(92, 141, 137) !important;
}
.navbar-nav {
  margin-left: 25%;
}
.social-media {
  margin-left: 130%;
}

.margin {
  padding-top: 15%;
  margin-bottom: 10%;
}

a {
  color: rgb(92, 141, 137);
  text-decoration: none;
}

h1 {
  font-size: 22;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.hello-text {
  margin-bottom: 10%;
}

.a-button {
  padding: 5px 10px;
  background-color: rgb(167, 215, 197);
  border: none;
  max-width: 12ch;
  box-shadow: 0px 1px 4px rgb(92, 141, 137);
}

.contact-button {
  margin-left: 40%;
  margin-top: 25px;
}

.works-n-links {
  padding-left: 10px;
  margin-left: 2ch;
}

.visit-website {
  margin-top: 30px;
  text-align: center;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 40px solid rgb(92, 141, 137);
  margin: auto;
  position: relative;
  top: -50px;
  animation-name: cursor;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cursor {
  0% {
    top: -55px;
  }
  100% {
    top: -48px;
  }
}

.ramka {
  margin: auto;
  display: block;
  height: 70px;
  width: 40px;

  border: rgb(92, 141, 137) solid 4px;
  border-radius: 16px;
}

h2 {
  font-size: 22;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}
p {
  color: rgb(116, 180, 155);
  font-size: 20px;
}
.my-photo {
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgb(92, 141, 137);
}

button {
  margin-left: 40%;
  margin-top: 25px;
  padding: 5px 10px;
  background-color: rgb(167, 215, 197);
  border: none;
  max-width: 100px;
  box-shadow: 0px 1px 4px rgb(92, 141, 137);
}

.content {
  display: block;
}

.art {
  display: block;
}

.my-work {
  width: var(--iwidth);
  height: calc(10 / 16 * var(--iwidth));
  position: absolute;
  top: 0;
  left: 0;
}

.imagealt {
  width: var(--iwidth);
  height: calc(10 / 16 * var(--iwidth));
  margin-top: 50px;
  position: relative;
}

.imagealt:hover img {
  filter: blur(4px);
  transition: all 0.5s;
}

.imagealt a.a-button {
  position: absolute;
  top: calc(50% - 1em);
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 1px 4px rgb(92, 141, 137);
  display: none;
}

.imagealt:hover a.a-button {
  display: block;
}

.work-description {
  text-align: center;
}

form,
.contact-info {
  position: relative;
  top: 30%;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  outline: none;
}

textarea,
input {
  background: rgb(167, 215, 197, 0.3);
  outline: none;
  border: none;
  margin-bottom: 7px;
  resize: none;
}

.footer {
  font-size: 15px;
  text-align: center;
  margin-top: 20%;
}

@media (max-width: 1100px) {
  html {
    --iwidth: 80vw;
  }

  .navbar-toggler {
    margin-top: 0;
  }

  .imagealt a.a-button {
    display: block;
    top: auto;
    bottom: calc(0px - 20px - 1em);
  }

  .imagealt:hover img {
    filter: none;
  }

  .frog-big {
    padding-left: 15%;
    margin-top: 10%;
  }
  #figures {
    display: none;
  }
  form {
    margin: auto;
    margin-bottom: 20%;
  }

  .title-work-together {
    margin-bottom: -40px;
  }
  .my-photo {
    margin-bottom: 10%;
  }
}
